<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mot de paase oublié</title>
  <link rel="icon" href="/images/ssise.png"  sizes="16x16" /> 
  <link rel="stylesheet" href="stylesheets/auth.css">

</head>
<body>

  <%- include('../header.ejs'); -%>


      <div class="container">
        <div class="form">
          <form action="/forget-password" method="post" class="login-email">
            <p class="login-text" style="font-size: 2rem; font-weight: 600;">Problèmes de connexion</p>
            <div class="input-group">
              <input type="text" name="email"  placeholder="Entrez votre email" >
              <% if (errors) { %>
              <% errors.forEach(function(error) { %>
                  <% if(error.param=="email") {%><small>  <%=error.msg%> </small><% } %>
              <% });%>     
              <% } %>
            </div>
              <div class="input-group">
                <button name="submit" class="btn">Envoyer le lien pour la réinitialisation</button>
              </div>
          </form>
        </div>
      </div>



<%- include('../footer.ejs'); -%>

        
</body>
</html>